*.zip
*.log
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
instance/

# Environments
.env/
.venv/

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.docker/compose.yml
